<a href="https://colab.research.google.com/github/lohith05102001/MLICP1/blob/main/ICP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [66]:
ages.sort()  #sorts the data inside the ages

In [67]:
ages # prints the content in ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [68]:
min(ages) # gives minimum value

19

In [69]:
ages.append(19)
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19]

In [70]:
max(ages) #gives maximum value

26

In [71]:
ages.append(26)
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [72]:
n=len(ages) #gives the length

In [73]:
if n % 2 == 0:  # for even number of observations
    median1 = ages[n//2]
    median2 = ages[n//2 - 1]
    median = (median1 + median2)/2 #average of median observations
else:
    median = ages[n//2]
print("Median is: " + str(median))

Median is: 24.0

In [74]:
average=sum(ages)/len(ages)
average  #mean of the data

22.75

In [153]:
range=max(ages)-min(ages)
range

7

Question 2

In [154]:
dog={}

In [115]:
dog={'name':'sky','color':'white','breed':'Shih tzu','age':'2','legs':'4'}
dog.keys()  #gives the keys of the key value pair

dict_keys(['name', 'color', 'breed', 'age', 'legs'])

In [165]:
student={'first_name':'lohith',
         'last_name':'nadapana',
         'gender':'male',
         'age':'23',
         'martitalstatus':'single',
         'skills':'[]',
         'country':'India',
         'city':'Bhimavaram',
         'address':'behind busstand'}
student["skills"]=['c','java','python','javascript']  # added the data into skills key

In [166]:
len(student)

9

In [167]:
skills_value = student['skills']
print(skills_value)
print(type(skills_value)) #gives the type of skills_value

['c', 'java', 'python', 'javascript']
<class 'list'>

In [168]:
student['skills'].extend(["c++","Meta"])
student['skills']

['c', 'java', 'python', 'javascript', 'c++', 'Meta']

In [169]:
studentkeys=list(student.keys()) #give sthe list of values in keys
studentkeys

['first_name',
 'last_name',
 'gender',
 'age',
 'martitalstatus',
 'skills',
 'country',
 'city',
 'address']

In [82]:
studentvalues=list(student.values()) #give sthe list of values in values
studentvalues

['lohith',
 'nadapana',
 'male',
 '23',
 'single',
 ['c', 'java', 'python', 'javascript', 't-mobile', 'Meta'],
 'India',
 'Bhimavaram',
 'behind busstand']

Question 3

In [83]:
siblingsbro=('geethu','raghu','lohith')
siblingssis=('prasanna','ranjini','seethu')
print(siblingsbro)
print(siblingssis)

('geethu', 'raghu', 'lohith')
('prasanna', 'ranjini', 'seethu')

In [84]:
siblings=siblingssis+siblingsbro #joins the tuples
siblings

('prasanna', 'ranjini', 'seethu', 'geethu', 'raghu', 'lohith')

In [85]:
len(siblings)

6

In [86]:
parents=("siva","lakshmi")
family_members=siblings+parents
family_members

('prasanna',
 'ranjini',
 'seethu',
 'geethu',
 'raghu',
 'lohith',
 'siva',
 'lakshmi')

Question 4

In [87]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
len(it_companies)

7

In [88]:
it_companies.add('twitter')  #adds new value to the set
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'twitter'}

In [89]:
it_companies.update(['LinkedIn', 'Snapchat', 'Spotify']) #added multiple values to the set
print(it_companies)

{'twitter', 'Apple', 'Microsoft', 'Amazon', 'LinkedIn', 'Spotify', 'Facebook', 'Snapchat', 'Oracle', 'Google', 'IBM'}

In [90]:
it_companies.remove('Snapchat') #removes the element
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'LinkedIn',
 'Microsoft',
 'Oracle',
 'Spotify',
 'twitter'}

In [171]:
it_companies.discard('IBM')

In [95]:
new=A.union(B) #joins the sets and removes repetition
new

{19, 20, 22, 24, 25, 26, 27, 28}

In [96]:
new1=A.intersection(B) #gives the common elements
new1

{19, 20, 22, 24, 25, 26}

In [97]:
new2=A.issubset(B) #verifies whether it is a subset or not
new2

True

In [98]:
A.isdisjoint(B)

False

In [99]:
A.update(B) #updates one set ith the other
A

{19, 20, 22, 24, 25, 26, 27, 28}

In [100]:
B.update(A)
B

{19, 20, 22, 24, 25, 26, 27, 28}

In [101]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
A_symmetric_difference_B = A.symmetric_difference(B) #gives the symmetric difference
print(A_symmetric_difference_B)

{27, 28}

In [102]:
del A
del B

In [103]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
print(len(age))
print(len(age_set))

8
5

Question 5

In [104]:
rad=30
area_of_circle=3.14*rad*rad
area_of_circle

2826.0

In [105]:
circum_of_circle=2*3.14*rad
circum_of_circle

188.4

In [106]:
import math
radius = float(input("Enter the radius of the circle: ")) # takes the radius value as a input from user
area = math.pi * radius ** 2
area

Enter the radius of the circle: 30

2827.4333882308138

Question 6

In [107]:
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
unique_words = set(words)
number_of_unique_words = len(unique_words)
number_of_unique_words

10

Question 7

In [108]:
header = "Name\tAge\tCountry\tCity"
data = "Asabeneh\t250\tFinland\tHelsinki"
print(header)
print(data)

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

Question 8

In [109]:
radius = 10
area = 3.14 * radius ** 2

message = "The area of a circle with radius {} is {:.2f} meters square.".format(radius, area)
message

'The area of a circle with radius 10 is 314.00 meters square.'

Question 9

In [170]:
# Read the number of elements
n = int(input("Enter the number of students: "))

# Initialize an empty list for weights in pounds
weights_lbs = []

# Use a while loop to read and append elements to the list
i = 0
while i < n:
    weight_lbs = int(input(f"Enter element {i+1} (in pounds): "))
    weights_lbs.append(weight_lbs)
    i += 1

# Convert weights from pounds to kilograms and round to 2 decimal places
weights_kg = []
i = 0
while i < len(weights_lbs):
    weight_kg = round(weights_lbs[i] * 0.453592, 2)
    weights_kg.append(weight_kg)
    i += 1

# Print the weights in kilograms
print(weights_kg)

Enter the number of students: 4
Enter element 1 (in pounds): 150
Enter element 2 (in pounds): 155
Enter element 3 (in pounds): 145
Enter element 4 (in pounds): 148
[68.04, 70.31, 65.77, 67.13]